/*
lips	rgb(206, 40, 42)
brown	rgb(170, 53, 49)
tan		rgb(213, 163, 138)
black	rgb(6, 4, 4)
olive	rgb(93, 62, 49)
dark	rgb(44, 28, 19)
white	#ccc
*/

/*/////////////////////////////////////////////*/
/*GLOBAL VARIABLE*/
:root {
	--menu-link: rgb(174, 174, 174);
	--article-title: rgb(170, 53, 49);
	--article-text-special: rgb(170, 53, 49);
	--article-text: rgb(93, 62, 49);
	--header-background: rgb(255, 255, 255);
	--footer-background: rgb(30, 30, 30);
	--separation-line: rgba(93, 62, 49, 0.5);
	--footer-separation-line: rgba(123, 123, 123);
	--bio-anglais: rgb(153, 122, 109);
}
/*GLOBAL VARIABLE*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
* {
	cursor: default;
}
/*RESET*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*BODY*/
body {
	display: flex;
	flex-direction: column;
}
body * {
	position: relative;
}
/*BODY*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*HEADER*/
header {
	position: relative;
	display: flex;
	flex-direction: column;
	height: calc(100vh + 150px);
	overflow: hidden;
}
/*HEADER*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*BANDE*/
header #bande {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
	display: flex;
	height: 150px;
	width: 100%;
	background-color: var(--header-background);
/*	margin-top: 0px;*/
	-webkit-transition: all 0.4s; /*safari*/
	transition: all 0.4s;*/
}
header #bande > * {
	margin: auto;
}
header #bande.scroll {
	height: 50px;
}
/*BANDE*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*LOGO*/
header #logo {
	position: relative;
	height: 80%;
	margin-left: 10px;
}
header #logo * {
	cursor: pointer;
}
header #logo img {
	height: 100%;
	filter: invert(0.8);
}
header #logo > p {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 0.8em;
}
header #logo.scroll > p {
	display: none;
}
/*LOGO*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*NAME*/
header #name {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 200px;
	bottom: 50%;
	transform: translatey(50%);
	text-align: center;
	width: 350px;
	opacity: 1;
	-webkit-transition: all 0.4s; /*safari*/
	transition: all 0.4s;
}
header #name p {
	margin: auto;
	color: #ccc;
	font-size: 2.5em;
	margin: 0.3em 0;
	text-align: center;
	line-height: 1;
}
header #name.scroll {
	opacity: 0;
	visibility: hidden;
}
header #name #piano:before {
	content: "";
	position: absolute;
	bottom: 50%;
	left: 30px;
	border: 1px solid rgb(206, 40, 42);
	width: 40px;
}
header #name #piano:after {
	content: "";
	position: absolute;
	bottom: 50%;
	right: 30px;
	border: 1px solid rgb(206, 40, 42);
	width: 40px;
}
/*NAME*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*MENU*/
header #menu {
	position: absolute;
	top: 50%;
	right: 50px;
	display: flex;
	flex-wrap: wrap;
	transform: translatey(-50%);
	height: 80%;
	width: 130px;
}
header #menu.scroll {
	width: 50%;
}
header #menu a {
	text-decoration: none;
	color: var(--menu-link);
	font-size: 0.7em;
	text-transform: uppercase;
	margin: auto 0px;
	width: 130px;
	cursor: pointer;
}
header #menu a.scroll {
	width: auto;
	margin: auto;
}
/*MENU*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*SLIDER*/
header #slider {
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(6 * 100vw);
	height: 100%;
	padding-top: 150px;
	animation: 15s move-slide infinite;
}
@keyframes move-slide {
      0%   {left: 0vw;}
      16%  {left: 0vw;}
      25%  {left: -100vw;}
      41%  {left: -100vw;}
      50%  {left: -200vw;}
      66%  {left: -200vw;}
      75%  {left: -300vw;}
      91%  {left: -300vw;}
      100% {left: -400vw;}
}
header .slide-box {
	margin: auto 0px;
	width: 100vw;
	height: 100%;
	overflow: hidden;
}
header .slide-box img {
	width: 100%;
}
/*SLIDER*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*BUILDING PAGE*/
header #building {
	position: absolute;
	top: 300px;
	left: 0px;
	width: 100%;
	text-align: center;
	opacity: 1;
}
header #building h1 {
	color: rgb(93, 62, 49);
}
/*BUILDING PAGE*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*PAGE*/
#page {
	margin: 0px;
	display: flex;
	overflow: hidden;
}
#page a {
	text-decoration: none;
}
#page aside {
	display: flex;
	flex-direction: column;
	margin: 0px 3%;
	width: 20%;
	-webkit-transition: all 0.4s; /*safari*/
	transition: all 0.4s;
}
#page #close-aside {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#page main {
	display: flex;
	flex-direction: column;
	margin: 0px 3%;
	width: 70%;
	-webkit-transition: all 0.4s; /*safari*/
	transition: all 0.4s;
}
#page main:before {
	content: "";
	position: absolute;
	top: 20px;
	left: -30px;
	height: 100%;
	width: 1px;
	background-color: var(--separation-line);
}
#page aside:focus {
	width: 90vw;
	-webkit-transition: all 0.4s; /*safari*/
	transition: all 0.4s;
}
#page aside:focus ~ main {
	margin-right: -70%;
	-webkit-transition: all 0.4s; /*safari*/
	transition: all 0.4s;
}
#page aside:focus #bio p {
	opacity: 1;
	visibility: visible;
}
#page aside:focus #bio {
	z-index: 0;
}
/*PAGE*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*ARTICLE*/
.article {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 40px;
}
.article > * {
	margin: 10px auto 10px 0px;
}
.article * {
	cursor: pointer;
}
.article-title {
	font-size: 1.2em;
	margin-right: auto;
	padding: 5px;
	color: var(--article-title);
	border: 1px solid var(--article-title);
}
.article-text-special {
	font-size: 1.2em;
	color: var(--article-text-special);
}
.article-text {
	text-align: left;
	line-height: 1.5;
	color: var(--article-text);
}
/*ARTICLE*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*BIO*/
#bio {
	z-index: 1;
}
#bio p {
	width: 20vw;
	-webkit-transition: all 0.4s; /*safari*/
	transition: all 0.4s;
}
#bio-francais-deux {
	position: absolute;
	top: 0px;
	left: 22vw;
	opacity: 0;
	visibility: hidden;
}
#bio-anglais-un {
	position: absolute;
	top: 0px;
	left: 44vw;
	opacity: 0;
	visibility: hidden;
	color: var(--bio-anglais);
}
#bio-anglais-deux {
	position: absolute;
	top: 0px;
	left: 66vw;
	opacity: 0;
	visibility: hidden;
	color: var(--bio-anglais);
}
/*BIO*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*FORM*/
#page form {
	display: flex;
	flex-direction: column;
	margin: 0px;
	width: 20vw;
	background-color: white;
}
#page form * {
	margin: 10px 40px 10px 0px;
	border: 1px solid rgb(213, 163, 138);
	height: 20px;
	padding: 5px;
	font-size: 13px;
	background-color: rgb(250, 250, 250);
	color: rgb(93, 62, 49);
	z-index: 1;
	cursor: text;
}
#page form textarea {
	min-height: 100px;
	resize: vertical;
}
#page form #btn {
	background-color: white;
	margin-left: 0px;
	margin-right: auto;
	width: 90px;
	height: 30px;
	cursor: pointer;
	color: rgb(213, 163, 138);
}
#page form #btn:hover {
	background-color: rgb(220, 220, 220);
	border: none;
}
/*FORM*/
/*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*FOOTER*/
footer {
	width: 100%;
	height: 150px;
	margin-top: 50px;
	background-color: var(--footer-background);
	display: flex;
	padding: 20px 0px;
}
footer .footer-column {
	display: flex;
	margin: auto;
	height: 100%;
	width: 100%;
}
footer #footer-align {
	display: flex;
	flex-direction: column;
	margin: 0px auto;
}
footer .footer-reseau {
	display: flex;
	margin: auto;
	margin-left: 0px;
	text-decoration: none;
	cursor: pointer;
}
footer .footer-reseau p {
	margin: auto 10px;
	color: var(--menu-link);
	font-size: 0.7em;
	text-transform: uppercase;
	cursor: pointer;
}
footer .footer-reseau img {
	margin: auto;
	width: 20px;
	cursor: pointer;
}
footer #footer-middle {
	border-left: 1px solid var(--footer-separation-line);
	border-right: 1px solid var(--footer-separation-line);
}
/*FOOTER*/
/*/////////////////////////////////////////////*/
