/*
lips	rgb(206, 40, 42)
brown	rgb(170, 53, 49)
tan		rgb(213, 163, 138)
black	rgb(6, 4, 4)
olive	rgb(93, 62, 49)
dark	rgb(44, 28, 19)
*/

body {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: rgb(206, 40, 42);
	font-size: 0.7em;
	text-transform: uppercase;
}

header {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	background-image: url("./includes/photos/piano4.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
}

#photo_claire {
	position: fixed;
	top: 0px;
	background-color: green;
	min-height: 100%;
	width: 100%;
}

#bande {
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	height: 200px;
	width: 100%;
	background-color: rgba(26, 40, 42, 0.6);
	margin-top: 0px;
	-webkit-transition: all 0.4s; /*safari*/
	transition: all 0.4s;
}
#bande #logo {
	height: 100%;
	margin: auto 10%;
	transform: translatex(-50%);
	-webkit-transition: all 0.4s; /*safari*/
	transition: all 0.4s;
}
#bande #logo img {
	height: 100%;
	-webkit-transition: all 0.4s; /*safari*/
	transition: all 0.4s;
}
#bande #menu {
	position: absolute;
	top: 50%;
	right: 50px;
	display: flex;
	flex-wrap: wrap;
	transform: translatey(-50%);
	height: 80%;
	width: 130px;
	-webkit-transition: all 0.4s; /*safari*/
	transition: all 0.4s;
}
#bande #menu a {
	margin: auto 0px;
	width: 130px;
}
header input:checked + #bande {
	background-color: rgba(206, 40, 42, 0.6);
	height: 50px;
}
header input:checked + #bande #logo {
	margin: auto 10px;
	transform: translatex(0%);
	height: 80%;
}
header input:checked + #bande #menu {
	width: 50%;
}
header input:checked + #bande #menu a {
	width: auto;
	margin: auto;
	color: rgb(206, 40, 42);
}
header input:checked ~ #name {
	opacity: 0;
}

header #name {
	position: absolute;
	top: 70%;
	left: 10%;
	text-align: center;
	opacity: 1;
	-webkit-transition: all 0.4s; /*safari*/
	transition: all 0.4s;
}
header #name p {
	color: #f8f8f8;
	font-size: 3em;
	margin: 0px;
}
header #name p:first-child {
	text-transform: capitalize;
}
header #name p:last-child {
	text-transform: uppercase;
}
header #name:before {
	content: "";
	position: absolute;
	bottom: 27px;
	left: 10px;
	border: 2px solid rgb(206, 40, 42);
	width: 50px;
}
header #name:after {
	content: "";
	position: absolute;
	bottom: 27px;
	right: 10px;
	border: 2px solid rgb(206, 40, 42);
	width: 50px;
}

input {
	position: absolute;
	top: 500px;
	display: none;
}

main {
	height: 100vh;
}
